<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KGMT-tech</title>
    <!-- link to css -->
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- header -->
    <header>
        <div class="nav container">
            <!-- logo -->
            <a href="#" class="logo">Ve <span>nom1</span></a>
        </div>
    </header>
    <section id="home2" class="section home2">
        <img src="../imgs/ONEPLUS-NORD-4 1.jpg" alt="" class="home2-img">
        <div class="home2-text">
            ONEPLUS NORD 4 A LONGTERM MID RANGER
        </div>
    </section>
<section id="para" class="para">
    <div class="explaination">
        <div class="post-infos">
            <span class="post-number">#1</span>
            <span class="post-date">September 28, 2024</span>
        </div>
    <div class="explaination">,The OnePlus Nord 4 is tailored for long-term users who seek reliability and longevity in their devices.
         Powered by the Snapdragon 7+ Gen 3 chipset the phone ensures sustained performance over several years, 
         handling daily tasks and gaming with ease. Its 12GB to 16GB of RAM and UFS 4.0 storage provide future-proof multitasking and fast app loading, 
         making it well-suited for users who need their phone to remain responsive over time​
         A major advantage for long-term users is the phone's 5500mAh battery 
         This makes it a reliable choice for users who want to avoid battery degradation​ Fast charging via the 100W SUPERVOOC system also means you won’t have to worry about slow charging speeds in the future,
          getting a full charge in just 28 minutes​
        <div class="mid">
        <img src="../imgs/download.jpg" alt="" class="mid-img">
        <div class="mid-text"> <i>pic of the Mercedes-AMG </i></div>
        </div>
        Available in various versions like the GT, GT S, GT C, and the extreme GT R, each 
        offers a distinct level of performance and handling, making it suitable for both 
        track and road use. The interior is luxurious yet driver-focused, featuring high-end 
        materials, advanced technology, and ergonomically designed controls. Combining 
        cutting-edge engineering with stunning aesthetics, the AMG GT is a symbol of 
        Mercedes-Benz’s commitment to high-performance, precision driving.</div>
</section>
<div class="footer container">
    <div class="post-title">&nbsp;&nbsp;   by KGMT-tech</div>
</div>
<!--   Jquery -->
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
<!-- link to js -->

<script src="../js/main.js"></script>

</body>
</html>